<footer>
    <div class="container">
        <ul class="information-list">
            <li class="information-item">
                <h6>Номер дому:</h6>
                <div>3</div>
            </li>
            <li class="information-item">
                <h6>Поверх:</h6>
                <div>3</div>
            </li>
            <li class="information-item">
                <h6>Номер квартири:</h6>
                <div>lorem</div>
            </li>
            <li class="information-item">
                <h6>Кількість кімнат:</h6>
                <div>lorem</div>
            </li>
            <li class="information-item">
                <h6>Площа квартири:</h6>
                <div>lorem</div>
            </li>
            <li class="information-item">
                <h6>Ціна за м²:</h6>
                <div>lorem</div>
            </li>
            <li class="information-item">
                <h6>Ціна за квартиру:</h6>
                <div>lorem</div>
            </li>
            <li class="information-item">
                <h6>Статус квартири:</h6>
                <div>lorem</div>
            </li>
        </ul>
    </div>
</footer>
<script async src="assets/js/custom.js"></script>